

.sent {
  font-family: sans-serif;
  font-size: 24px;
}


body{
    text-align:center;
    color: #697377;
    background:#efefef;background:-webkit-gradient(left top, right top, color-stop(0%, #efefef), color-stop(58%, #f6f6f6), color-stop(100%, #fff));background:-webkit-linear-gradient(left, #efefef 0%, #f6f6f6 58%, #fff 100%);background:linear-gradient(to right, #efefef 0%, #f6f6f6 58%, #fff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#ffffff', GradientType=1 )
}
form__container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}

table.fixed {
    margin: 0px auto;
 }


.bigger {
  padding: 20px 20px 20px 20px;
}


