

.status {
    width:100%;
    background: #F0F0F0;
    text-align:left;
}

.title {
  font-family: sans-serif;
  font-size: 28px;
}

td {
    text-align: top;
}

th{
    background-color: #F0F0F0;
    font-size: 28px;
    text-align: center;
}

.focus {
  font-family: sans-serif;
  font-size: 28px;
  width: 30%;
}

body{
   text-align:center;
}

span
{
    border: none;
    cursor: pointer;
    padding: 2px 12px 3px 20px;
    text-decoration: none;
    display: inline-block; 
    margin: 5px 0;
}


a {
  color: blue;
  text-decoration: none;
  word-wrap: break-word;
}

a:hover {
  color: red;
  text-decoration: : underline;
}

table.fixed { table-layout:fixed;  }

#go {
  -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
  background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
  background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
  background-color:#768d87;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:28px;
  font-weight:bold;
  padding:1px 20px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
}
#go:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
  background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
  background-color:#6c7c7c;
}
#go:active {
  position:relative;
  top:1px;
}

.div0 {
text-align:left;
}

.div1 {
    background:#F0F0F0;
    text-align:left;
}
